.clock {
    position: relative;
    margin: 20px auto;
    width: fit-content;
}

.clock div:nth-child(2) {
    position: absolute;
    top: 50px;
    left: 50px;
}

.clock div:nth-child(3) {
    position: absolute;
    top: 100px;
    left: 100px;
}

body {
    background-color: rgb(18, 18, 18);
}

.digitalClock{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}