* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(148, 210, 148, 0.637);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.colorBar {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.colorBar i {
    background-color: rgba(0, 0, 0, 0.3);
    color: darkolivegreen;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: all 0.5s;
}

.colorBar i:hover {
    transform: scale(1.2);
}

.rangeBar {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: beige;
    margin: auto;
}

.status {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 20px;
}