* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left,blue ,yellow, purple);
    color: white;
    font-family: serif;
}

.title {
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
    border: 1px solid black;
    background: rgba(9, 95, 95, 0.6);
}

.menu {
    margin: 20px left;
    width: fit-content;
    border: 1px solid black;
    background: rgba(9, 95, 95, 0.6);
    list-style: none;
}