button {
    background-color: rgb(157, 217, 166);
    border-color: rgb(31, 255, 106);
    color: rgb(51, 92, 69);
    border-radius: 50px;
    margin: 200px auto;
    display: block;
    width: 250px;
    height: 70px;
    font-family: arial;
    font-size: 25px;
}

body {
    background-color: rgb(181, 232, 191);
    height: 100vh;
    display: grid;
    place-items: center;
}