* {
    margin: 0;
    position: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, orange, yellow);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: 50px;
}

button{
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    transition: all 0.5s;
}

button:hover {
    background-color: 0,0,0,0.5;
}

img {
    height: 50vh;
}