.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product img {
    width: 100%;
}

.product {
    border: solid rgb(79, 46, 7) 5px;
}