table, td   {
    border: 1px solid black;
}

table td {
    width: 100px;
    height: 100px;
    font-size:80px;
    font-family: sans-serif;
    text-align: center;
    transition: all 1s;
    
}

table td:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    transform: scale(1.5);
}

form input:focus{
    background-color: rgba(0, 255, 238, 0.505);
}

