.container{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    gap: 10px 20px;
    grid-template-rows: 70px 70px 70px 70px 70px;
}

.item.brown{
    background-color: black;
}
.item{
    background-color: rgb(254, 254, 254);
}