body{
    background-color: rgb(214, 93, 37);
}

header{
    color: yellow;
    font-size: 4rem;
    text-align: center;
}

.container{
    display: flex;
    flex-direction:row;
    gap: 15px;
    font-size: 2rem;
    
}

