* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header {
    height: 100vh;
    background: radial-gradient(rgb(0, 60, 255),rgb(255, 217, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 50%;
    height: 40%;
    object-fit: contain;
}

section {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

p{
    max-width: 300px;
    text-align: center;
}

.fadeIN {
    opacity: 1;
}

#main{
    background-color: white;
    position: relative;
}

.paralax {
    position: relative;
    overflow: hidden;
    background-color: rgb(34, 39, 69);
    padding: 400px 0;
}

.bg1 {
    background-image: url(https://www.rbc.ua/static/img/_/i/_instagram_com_patron_dsns_2_1300x820.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140%;
    z-index: 1;
}

.bg2 {
    background-image: url(https://i.stopcor.org/news/2023/7/8/filestoragetemp73.jpeg?size=2010x1130);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140%;
    z-index: 1;
}

.bg3 {
    background-image: url(https://forbes.ua/static/storage/originals/d/69/faccdd10645bbcd0cfae5dd7ea5bf69d.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140%;
    z-index: 1;
}

.pcontent {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}