button.b {
    background: radial-gradient(gray, black);
    border-color: gray;
    color: white;
    border-radius: 50px;
    /* margin: 200px auto; */
    display: block;
    width: 10rem;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(69, 73, 69);
    height: 100vh;
    display: grid;
    place-items: center;
}

table {
    background-color: white;
    border: 1px solid black;
    width: 80vw;
}