.container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    gap: 0.5rem;
    grid-auto-flow: dense;
}

.item:nth-child(6n) {
    grid-column: span 6;
}

.item:nth-child(8n){
    grid-column: span 2;
}

.item:nth-child(9n){
    grid-row: span 2;
}

item:nth-child(18n){
    grid-column-end: -1;
}