html{
    font-weight: 900;
    font-size:10px;
    color: black;

}
.item{
    background-color: rgb(0, 255, 34);
    display: flex ;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 35px;
}
.brown{
    background-color: black;
}
.red{
    background-color: red;
}