.container {
    display: flex;
    gap: 1rem;
}

.b {
    width: 150px;
    height: 150px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    display: grid;
    place-items: center;
    padding: 10px;
    text-align: center;
}