button {
    background-color: chartreuse;
    border:none;
    border-radius: 50px;
    color: green;
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 40vh;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(203, 238, 144);
    height: 100vh;
    display: grid;
    place-items: center;
}