.clock {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

.clock div:nth-child(2) {
    position: absolute;
    top: 50px;
    left: 50px;
    color:darkturquoise;
}

.clock div:nth-child(3) {
    position: absolute;
    top: 100px;
    left: 100px;
}

body {
    background: #000;
}

.digitalClock {
    color: white;
    display: flex;
    margin: 5rem auto;
    width: fit-content;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}