
table, td{
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 80px;
}
td{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aqua;
}
.mmm2{
    width: 200px;
    height: 200px;
    background-color: brown;
    color: white;
}
#mmm3{
    background-color: white;
}