body{
    text-align: center;
}
h1{
    font-weight: 100;
}

.container{
    border: 1px solid blue;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 10px 0 40px;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-size: 2.5rem;
    font-family: sans-serif;
}
/* .colorbox{
    border: 1px solid blue;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 10px 0 40px;
    flex-direction: column;
} */