body {
    text-align: center;
}

h1 {
    font-weight: 100;
}

.container {
    border: 2px solid lightskyblue;
    background-color: lightcyan;
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 5px 0 30px;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: impact;
}