body {
    background: rgb, (2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 24%, rgba(0, 0, 0, 1) 100%);
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}

img {
    width: 9rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: all 1s;
}

img:hover {
    transform: scale(1.3);
}

.item {
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3)
}

;

header {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

header img {
    width: auto;
    height: 5rem;
    as
}