.container{
    display: grid;
    grid-template-columns: repeat(4, 100px) ;
    grid-template-rows: repeat(4, 100px);
    gap: 15px;

    border: 2px solid black;
    /* justify-items: start;
    align-items: center; */
    justify-content: center;
}
.item{
    width: 40px;
    height: 40px;
}
.item:nth-child(1), .item:nth-child(11) {
    justify-self: start;
    align-self: start;
}
.item:nth-child(6), .item:nth-child(16) {
    justify-self: end;
    align-self: end;
}
.item:nth-child(7), .item:nth-child(13) {
    justify-self: start;
    align-self: end;
}
.item:nth-child(10), .item:nth-child(4) {
    justify-self: end;
    align-self: star;
}
.item:nth-child(5), .item:nth-child(9) {
    justify-self: start;
    align-self: start;
}

.item:nth-child(14), .item:nth-child(15) {
    justify-self: center;
    align-self: flex-end;
}

.item:nth-child(8), .item:nth-child(12) {
    justify-self: end;
    align-self: start;
}