body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
}

.container{
    background-color: pink;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: -2; */
}

#top{
    position: absolute;
    top: -60px;
    /* top: -130px; */
   
}

#bottom{
    position: absolute;
    /* top: 280px; */
    top: 180px;
   
}

p, h3{
    opacity: 0;
}