* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, lightblue, rgb(255, 202, 255));
}

.wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    gap: 1opx;
}

.form {
    display: flex;
}

button {
    width: 20px;
}

li {
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    padding: 5px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}