*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, lightblue, rgb(255, 171, 255));

}
.wrepper{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-family: sans-serifs;
    gap: 10px;
}

.form{
    display: flex;
}
.button{
    width: 20px;
}
li{
    background-color: rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5px;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}