button.b {
    background-color: rgb(65, 17, 25);
    border-color: rgb(37, 3, 3);
    color: white;
    border-radius: 10px;
    /* margin: 0 auto; */
    display: block;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(39, 14, 14);
    height: 100vh;
    display: grid;
    place-items: center ;
}