.container{
    display: flex;
    gap: 1rem;
}

.b{
    width: 150px;
    height: 150px;
    background-color:bisque;
    border-radius: 10px;
    box-shadow: 0 0 5px brown;
    display: grid;
    place-items: center;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: gray;
    width: 100px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.textBar {
    width: 700px;
    border-color: gainsboro;
}

.fade {
    width: 500px;
    height: 500px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: 0 0 15px black;
}