body {
    background: rgb(58,187,43);
background: linear-gradient(90deg, rgba(58,187,43,1) 0%, rgba(133,143,81,1) 52%, rgba(32,33,29,1) 100%);
min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 3rem;
}

img {
    width: 9rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: all 1s;
}

img:hover {
    transform: scale(1.2);
}

.item {
    display: flex;
    gap: 1rem;
    background-color: rgba(39, 149, 22, 0.3);
    padding: 1rem;
    color: white;
    font-family: monospace;
}

.category {
    font-weight: 900;
    font-size: 0.9rem;
    text-shadow: 0 0 3px rgb(27, 77, 25);
}

header {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.3);
    text-align:center
}

header img{
    width: auto;
    height: 5rem;
    aspect-ratio: auto;
    padding: 0.5;
}