table, td {
    border: 1px solid crimson;
}

table td{
    width: 100px;
    height: 100px;
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
    transition: all 1s;
}
  
table td:hover{
    background-color: black;
    color: black;
    transform:scale(0.00000000000001);
}

form input {
background-color: black;
}