.conterner{
    display: grid;
    grid-template-columns: 1fr 1f 1f 1f;
    grid-template-rows: 50px 50px 50px 50px;
    grid-auto-flow: column;
    gap: 10px;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}



