html{
    font-weight: 900;
    font-size: 10px;
    color: white;
}

.item{
    background-color: rgb(235, 11, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 35px;
}

