* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, red, blue);
    color: white;
    font-size: 20px;
    padding: 50px;
}

.mainMenu {
    list-style: none;
    border: 1px solid black;
    width: fit-content;
}

.mainMenu > li {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    text-align: center;
    width: 70px;
}

.subMenu {
    position: absolute;
    left: 70px;
    width: 100px;
    top: -1px;
    display: none;
    list-style: none;
}

.mainMenu > li:hover ul {
    display: block;
}

.subMenu > li {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    text-align: center;
    width: 100px;
}