* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, black 20%,rgb(24, 165, 24));
    min-height: 100vh;
    font-family: cursive;
}

a {
    color: rgb(37, 169, 37);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}

a:hover {
    background-color: rgba(50, 108, 41, 0.321);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.flex-nav ul {
    list-style: none;
    border: 1px solid rgb(3, 29, 8);
    display: flex;
}

.flex-nav li {
    flex-grow: 3;
}

.flex-nav .social {
    flex-grow: 2;
}

.button {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    display: none;
}

@media (max-width: 1000px){
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
    flex: 1 1 25%;
    }
    .flex-nav .social {
        flex: 1 1 25%;
    }
}

@media (max-width: 500px){
    .flex-nav li {
        flex: 1 1 100%;
    }
    .flex-nav {
        display: none;
    }
    .button {
        display: block;
    }
}

header img {
    height: 450px;
    filter: drop-shadow(0 0 5px black);
}

header {
    background-color: rgba(0, 0, 0, 0.575);
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
    padding: 10px;
}

section , footer{
    background-color: rgb(23, 63, 23);
    padding: 10px;
    margin: 10px 0;
}

.content , footer{
    text-align: center;
    color: rgb(0, 0, 0);
}

.signup {
    display: flex;
    flex-direction: column;
}

.signup input, .signup textarea {
    background-color: transparent;
    padding: 5px;
    border: 1px solid black;
    border-radius: 555555px;
}

.signup label {
    color: white;
    margin-left: 10px;
}

.open {
    display: flex;
}