body {
    background-color: orange;
}

.guests{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 3px black;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 3px black;
}

img {
    border-radius: 10%;
}