.block{
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,red,orange,#ffff00, green,blue, violet  );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 250px auto;
    
}