/* тут біл :nth-child() */
.container {
    display: flex;
    flex-wrap: wrap;
    border:  1px solid rgb(0, 255, 0);
}
.tab {
    font-size: 40px;
    padding: 5px 30px;
    flex-grow: 1;
    text-align: center;
    color: rgb(0, 255, 0);
    border-bottom: 5px solid transparent;
    cursor: pointer;
}
.tab:hover {
    border-bottom: 5px solid rgb(0, 255, 0);
}
.tab:not(:hover) {
    filter: blur(10px);
}