.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    border: 2px solid black;
    /* justify-items: center;
    align-items: center; */
    justify-content: center;
}

.item {
    width: 40px;
    height: 40px;
}

.item:nth-child(1), .item:nth-child(11){
    justify-self: start;
    align-self: start;
}