* {
    margin: 0;
    padding: 0 auto;
}

body {
    background-color: rgb(130, 91, 7);
    text-shadow: black 1px 1px 1px;
    display: flex;
    flex-direction: row;

    gap: 50px;
}

header {
    display: flex;
    flex-direction: row;
}

h1 {
    color: rgb(205, 186, 10);
    font-family: 'Courier New', Courier, monospace;
}