button.b{
    background-color: deeppink;
    border-color: aqua;
    color: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    width: 10rem;
    height:50px;
    font-size: large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body{
    background-color: rgb(165, 183, 146);
    height: 100vh;
    display: grid;
    place-items: center;
}

table{
    background-color: white;
    border: 1px solid black;
    width: 80vw;
    
}