*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg , pink, rgba(255, 0, 208, 0.943));
    height: 100vh;
    color: rgba(255, 0, 238, 0.888);
}

.wrapper {
max-width: 500px;
margin: 50px auto;




}