* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: bisque;
    padding: 50px;
}

.note {
    max-width: 300px;
background-color: rgb(240, 245, 220);
box-shadow: 0 0 10px;
padding: 10px;
position: relative;
}

img {
width: 40%;
float: left;
}

.pin {
    position: absolute;
    right: -40px;
    top: -53px;
}

.n2 {
    top: 1px;
    left: 340px;
}

.n3 {
    left: 190px;
}

.n4{
    
}