*{
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    padding: 30px;

}

.movie {
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 30px;
    background-color: green;
    border-radius: 5%;
    box-shadow: 0 0 5px black;
    
}

.year {
    padding: 20px;
}

.title {
    padding: 20px;
}

img {
    box-shadow: 0 0 7px black;
}

