@font-face {
    font-family: chinasis;
    src: url("assets/fonts/NinjaStrike.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(91, 12, 12);
    font-family: chinasis;
}

header {
    text-align: center;
    color: rgb(197, 171, 26);
    text-shadow: 0px 2px 0 black;
    font-size: 2rem;
}

.lantern {
    position: fixed;
    width: 20vw;
    animation: float 8s ease-in-out infinite;
}

.lantern.right {
    top: 20px;
    right: 20px;
}

.lantern.left {
    top: 20px;
    left: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    display: flex;

}

.house {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.roof {
    width: 100%;
    display: block;

}

.block {
    flex: 1;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    margin: 0 3rem;

}

.window {
    border: inherit;
    background-color: rgb(91, 12, 12);
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.chef {
    width: 50%;
    border-radius: 1rem;

}

.window h2 {
    font-size: 2rem;
}

.window ul {
    list-style: none;
    color: rgb(197, 171, 26);
    font-size: 2rem;
}

@media (max-width:1020px) {
    main {
        flex-direction: column;
    }

    .block {
        padding: 1rem;
        border: 3px solid black;
        margin-bottom: 3rem;
    }
}

.order h2 {
    text-align: center;
    font-size: 2rem;
}

#order-form {
    margin: 0 auto;
    display: flex;
    width: 18rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.2rem;
    font-size: 1.5rem;
}

#order-form label {
    font-family: inherit;
    font-weight: bold;
}

#order-form input {
    border: none;
    background-color: navajowhite;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    margin: 0.5rem -0.2rem;
    font-family: inherit;
    text-shadow: inherit;
    color: inherit;
}

#submit {
    align-self: center;
    margin-top: 1rem;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;

}

#submit:hover {
    box-shadow: 0 0 1rem red;
}

#ordertable {
    margin-bottom: 1rem;
    margin: 0 auto;
}

#ordertable th:first-child {
    border-top-left-radius: 1rem;
}

#ordertable th:last-child {
    border-top-right-radius: 1rem;
}

#ordertable th{
    background-color:rgb(46, 49, 4);
    font-weight: bold;
    padding: 0.5rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.5);
    font-size: 1.5rem;
}
#ordertable td{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 3px solid rgb(0, 0, 0);
}

