* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, purple, rgb(127, 217, 233));
}

.wrapper {
    border: 2px dashed black;
    width: 500px;
    height: 500px;
}

.red1, .red2, .red3 {
    background-color: red;
}

.white1, .white{
    background-color: white;
}

.red1{
    width: 500px;
    height: 500px;
}

.white1 {
    width: 400px;
    height: 400px;
    margin: 50px;
}

.red2 {
    width: 300px;
    height: 300px;
    margin: 50px;
}

.white2 {
    width: 200px;
    height: 200px;
    margin: 50px;
}

.red3 {
    width: 100px;
    height: 100px;
    margin: 50px;
}

div{
    border: 1px solid black;
    border-radius: 50%;
}