body{
    background-color: bisque;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 50px;
    padding:20px;
    flex-direction: column;
    width: 500px;
    color: white;
}