body {
    background: rgb(63, 94, 251);
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 3rem;
}

img {
    width: 9rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: all 1s;
}

img:hover {
    transform: scale(1.5);
}

.item {
    display: flex;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    color: white;
    font-family: monospace;
}

.category {
    font-weight: 900;
    font-size: 0.9rem;
    text-shadow: 0 0 3px white;
}

.g {
    color: red;
}

.s {
    color: green;
}

header {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

header img {
    width: auto;
    height: 5rem;
    aspect-ratio: auto;
    padding: 0.5rem;
}

