* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 5px 9px;
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-image: linear-gradient(to right, rgb(124, 124, 181), rgb(35, 29, 35));
}

.container {
    border: 1px solid black;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

li {
    background-color: rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 5px;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 20px;
}

ul {
    margin: 10px 0;
}

input {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 5px;
}

input:focus {
    
}

li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}