.b{
    padding: 5px;
    background-color:bisque ;
    border-radius:50px ;
   border-color: rgb(232, 196, 143);
   margin: 0 auto;
   display: block;
   width: 25vw;
   height: 10vh;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
}


body{
    background-color: beige;
    height: 100vh;
    display: grid;
    place-items: center;
}

table{
    background-color: bisque;
    border: 1px solid rgb(232, 196, 143);
    width: 80vw;
    border-radius:50px ;
}