*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 15px auto;
    font-family:sans-serif;
}

body{
    text-align: center;
    padding: 0 15px;
}


.container{
    width: 400px;
    background-color: blanchedalmond;
    padding: 20px;
    margin: 15px auto;
}


a{
    font-size: 2.5rem;
    text-decoration: none;
    color:rgb(200, 174, 142)
}

.t{
    width:20px ;
}

.range{
    width: 50%;
}