*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 200px;
    float: left;
    
}

header{
    background-color:indigo;
}

.container{
    max-width: 1240px;
    margin:0 auto ;
    padding: 10px;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    height: 100px;
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    color: white;
    display: inline-block;
    padding: 0 15px;
    line-height: 100px;
    font-size: 1.2rem;
    font-family: 'Marck Script', cursive;
}
nav a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

nav a:visited{
    color:dimgrey;
}

nav a:hover{
    text-shadow: 3px 1px 10px rgb(232, 232, 137);
}

nav li:last-child{
    background-color: cyan;
    color:dimgrey;
    border-radius: 10px;
    transition: all 0.5s;
}

nav li:last-child:hover{
    transform: rotate(10deg)
}


.addHeader{
    background-color: indigo;
    border-bottom: 1px solid black;
    text-align: center;
}

.slogan{
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    padding: 40px;
}
a.button{
    display: block;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 10px 30px;
    border-radius: 5px;
}

main{
    background-color: rgb(86, 15, 137);
    border-top: 1px solid black;
}
.sidebar{
    width: 30%;
    float: right;
    border: 1px solid black;
}

.articles{
    width: 65%;
    float: left;
    border: 1px solid black;
}

.articles::after{
    content: "";
    clear: both;
    display: table;
}

.article{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}